
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>
    <div>
        猜猜看這樣會出現什麼?<br />
        ViewData 的答案：@ViewData["A"] <br />
        ViewBag 的答案：@ViewBag.B <br />
        TempData 的答案：@TempData["C"] <br />

    </div>
</body>
</html>
