
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3A</title>
</head>
<body>
    <div>
        <h3>如果ViewData跟ViewBag命名相同會發生什麼事?</h3>
        ViewData答案: @ViewData["XYZ"];<br />
        ViewBag答案: @ViewBag.XYZ;<br />

    </div>
</body>
</html>
