
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexHello</title>
</head>
<body>
    <div>
        <h3>IndexHello</h3> <br />
        輸入以下兩個網址都會到這個畫面：<br /><br />
        1. http://yourwebsite/Lesson1.Index<font color="red">1A</font><br /><br />
        2. http://yourwebsite/Lesson1.Index<font color="red">1B</font><br /><br />

        直接執行瀏覽這個網頁會出錯(因為Controller沒有對應的Action)

    </div>
</body>
</html>
