
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index - 這是一個空白的View</title>
</head>
<body>
    <div> 
        <h3>這是一個空白的View畫面</h3>
    </div>
</body>
</html>
